
.VideoContainer{
    height: 90vh;
    position: relative;
}
.VideoContainer>img{
    min-width: 120%;
    height: auto;
    margin-top: 00px;
}

.Content{
    width: 100%;
    height: 180px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Content::before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--blue-main);
    height: 20px;
}
.header-info{
    width: 100%;
    height: 50px;
    background: yellow;
    margin-top: -10px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    position: absolute;
}



