/* SECTION ONE */
.section-one{
    width: 100%;
    height: 525px;
    margin-top: -2px;
    font-size: 1.25rem;
    display: inline-flex;
    position: relative;
    align-items: center;
    background: var(--blue-main);
  }
  .section-one::before{
    content: '';
    width: 50px;
    height: 50px;
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 0;
    background: var(--blue-main);
    clip-path: polygon(0 0, 0 100%, 100% 0);
  }
  .section-one::after{
    content: '';
    width: 50px;
    height: 50px;
    z-index: 100;
    position: absolute;
    bottom: 20px;
    right: 0;
    background: var(--blue-main);
    clip-path: polygon(0 100%, 100% 100%, 100% 0);

  }
.Container-One{
    width: 100%;
    z-index: 20;
    display: inline-flex;
    justify-content:space-evenly;
    overflow:inherit;
    align-items: center;
    height: 480px;
    position: relative;
    background: var(--ultra-light-gray);
}
.first-p{
    width: 600px;
    position: relative;
    margin-left: 100px;
}
.first-p1 {
    font-weight: 700;
}
.first-p2{
    opacity: .8;
    margin-top: -20px;
}
.first-p>h2{
    margin-bottom: 60px;
}
.first-p>h2::after{
    content: '';
    width: 300px;
    height: 10px;
    background: yellow;
    position: absolute;
    left: 0;
    top: 65px;
    clip-path: polygon(2% 0, 100% 0, 100% 50%, 98% 100%, 0 100%, 0 50%);
}

.first-p-image{
    width: 433px;
    height: 400px;
    position: relative;
    background: var(--ultra-light-gray);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.034);
    border-radius: 5px 5px 0 0 ;
    transition-duration: .3s;
}
.first-p-image>img{
    border-radius: 5px 5px 0 0 ;
}
.first-p-image:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.158);
    background: var(--ultra-light-gray);
}
.first-p-serviceBtn{
    position: absolute;
    bottom: 10px;
    border: none;
    left: 16px;
    font-family: 'Montserrat';
    font-weight: 600;
    width: 400px;
    height: 45px;
    background: var(--gray-button);
    font-size: 1rem;
    transition-duration: .2s;
    cursor: pointer;
}
.first-p-serviceBtn .arrowUp{
    position:absolute;
    width: 0px;
    height: 0px;
    right: 170px;
    top: -19px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid var(--blue-main);
}

.first-p-serviceBtn:hover{
    background: var(--blue-main);
    color: #fff;
}


/* SECTION TWO */

.section-two{
    width: 100%;
    height: 1080px;
    left: 0;
    z-index: 80;
    margin-top: -600px;
    background-image: url(../../assets/section-three-image.png);
    background-size: cover;
    background-attachment: fixed;
}


/* SECTION THREE */
.Container-Three{
    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    background: var(--ultra-light-gray);
}
.Container-Three::before{
    content: '';
    width: 100%;
    height: 25px;
    background: var(--blue-main);
    position: absolute;
    top: -25px;
    
}
.second-p{
    margin-top: 30px;
    margin-right: 520px;
    width: 700px;
    margin-left: 30px;
}
.second-p p{
    opacity: .8;
    display: none;
}
.product-list{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns:repeat(3, 350px);
    column-gap: 40px;
}



@media (max-width: 1650px) {
    .first-p-image{
        width: 370px;
        height: 355px;
    }
    .first-p-image>img{
        width: 100%;
    }
    .first-p-serviceBtn{
        width: 350px;
        left: 10px;
    }
    .first-p-serviceBtn .arrowUp{
      right: 155px;
    }

}
@media (max-width: 1375px) {
    .first-p{
        width: 400px;
    }
    .first-p>h2{
        font-size: 1.5rem;
    }
    .first-p>p{
        font-size: 1.05rem;
    }
    .second-p{
        margin-left: 100px ;
    }
    
}
@media (max-width: 1000px) {
    .section-one{
        margin-top: 00px;
        height: 880px;
    }
    .Container-One{
        height: 830px;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .first-p-image{
        margin-left: 30%;
        margin-top: 60px;
    }
    .first-p{
        margin-left: 30%;
        margin-top: 60px;
    } 
    .second-p{
        margin-left: 900px ;
    }
    .product-list{
      display: grid;
      grid-template-columns: repeat(2, 350px);
    }
    .product-list .product-three{
        margin-left: 200px;
    }
    .Container-Three{
        height: 1030px;
    }
}

@media (max-width: 750px) {
    .product-list{
        display: grid;
        grid-template-columns: repeat(1, 350px);
      }
      .product-list .product-three{
          margin-left: 0px;
      }
}
@media (max-width: 600px) {
    .first-p{
        margin-left:100px;
    }
    .first-p-image{
        margin-left: 130px;
        width: 300px;
        height: 290px;
    }
    .first-p-image>img{
        width: 100%;
    }
    .first-p-serviceBtn{
        width: 250px;
        left: 25px;
        font-size: .9rem;
        height: 30px;
        bottom: 15px;
    }
    
    .first-p-serviceBtn .arrowUp{
        right: 110px;
        top: -15px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid var(--blue-main);
    }
    
}
@media (max-width: 500px){
    .first-p{
        margin-left: 80px;
        width: 250px;
        text-align: center;
    }
    .first-p>h2{
        font-size: 1.3rem;
    }
    .first-p>p{
        font-size: .9rem;
    }
    .first-p>h2::after{
        width: 200px;
        height: 5px;
        left: 25px;
    }
    .first-p-image{
        margin-left: 60px;
    }
    .second-p>h2{
        font-size: 1.5rem;
        margin-left: 35px;
    }
}
@media (max-width: 400px){
    .first-p{
        margin-left: 65px;
    }
    .first-p-image{
        margin-left: 65px;
        width: 250px;
        height: 240px;
    }
    .first-p-serviceBtn{
        width: 220px;
        left: 15px;
        bottom: 10px;
        height: 25px;
        font-size: .8rem;
    }
    .first-p-serviceBtn .arrowUp{
        left: 90px;
    }


}