.navBar{
    z-index: 99;
    margin-top: 10px;
    margin-right: 00px;
    margin-left: 500px;
    position: fixed;
    transition: .1s ease-in-out;
    justify-content: center;
}
.navLogo__invisible{
  display: none;
}
.navInvisible{
    margin: 0;
    width: 100%;
    height: 100px;
    top: 0px;
    padding-left: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: var(--blue-main);
}
.navInvisible .navLogo__invisible{
  display: block;
  position: fixed;
  top: -60px;
  left: 560px;
  z-index: 120;

}
.navInvisible .loginBtn, .navInvisible .contactBtn{
  margin-top: -23px;
  transition: none;
}
.navInvisible .HomeSpan{
    width: 65px;
    height: 40px;
    bottom: 11px;
    left: 732px;
    position: absolute;
    background-color:#fff;
}

.navBar a{
    color: #fff;
    font-weight: 700;
    font-size: 1.05rem;
    text-align: left;
    float: left;
    padding: 17px 20px;
    margin: 0 20px 0 0px;
    text-decoration: none;
}

.navBar .HomeSpan{
    width: 65px;
    height: 2px;
    bottom: 11px;
    left: 12px;
    position: absolute;
    background-color:#fff;
}
.navBar .navHome:hover{
  animation: none 0s;
  transition-duration: none 0s;
  cursor:auto;
}

.subNav{
    float: left;
    overflow: hidden;
}
.subNav .subNavBtn {
    font-size: 1.05rem;
    border: none;
    outline: none;
    color: white;
    padding: 17px 20px;
    background-color: inherit;
    font-family: inherit;
    font-weight: 700;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}
.subNav .subNavBtn-products {
  font-size: 1.05rem;
  border: none;
  outline: none;
  color: white;
  padding: 17px 20px;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  margin: 0 20px;
  display: inline-block;
  position: relative;
}
.subNavBtn::after{
  content: '';
  position: absolute;
  width: 65px;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  right: 17px;
  background-color:#fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.subNavBtn-products::after{
  content: '';
  position: absolute;
  width: 80px;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  right: 19px;
  background-color:#fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.navBar a:hover, .subNav:hover .subNavBtn {
    cursor: pointer;
  }
  .navBar a:hover, .subNav:hover .subNavBtn::after {
    transform: scaleX(1);
  }
  .navBar a:hover, .subNav:hover .subNavBtn-products {
    cursor: pointer;
  }
  .navBar a:hover, .subNav:hover .subNavBtn-products::after {
    transform: scaleX(1);
  }

  .subNav-content {
    display:none;
    flex-direction: column;
    position: absolute;
    left: 34%;
    background: var(--light-gray-gradient);
    width: 210px;
    padding: 0;
    margin-top: -2px;
    animation: slideDown .3s ease-out;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 80% 100%, 0% 100%);
  }
  .contentProduct{
    left: 16% !important;
  }
  .contentService{
    left: 34%;
  }
  .contentAbout{
    left: 50%;
  }
  .content__product__invisible{
    left: 50%;
  }
  .content__service__invisible{
    left: 56%;
  }
  .content__about__invisible{
    left: 62%;
  }
  

  .subNav-content .subSpan{
    width: 250px;
    height: 1px;
    background: #000;

  }
  .subNav-content .subSpan{
    width: 250px;
    height: 1px;
    background: var(--gray);
    transition-duration: .1s;
  }

  .subNav-content a {
    color: #000;
    font-size: .9rem;
    transition-duration: .5s;
    text-decoration: none;
  }
  
  .subNav-content a:hover {
    color: var(--blue-main-light);
  }
  .subNav-content a:hover + .subSpan {
      background: var(--blue-main-light);
      height: 1.5px;
  }
  
  .subNav:hover .subNav-content {
    display: flex;
  }



@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-8px);
    }
    100%{
        opacity: 1;
        transform:none;
    }
}


/* NAV MEDIA QUERY */

@media (max-width: 1250px) {
  .navBar{
    display: none;
  }
  .btnLink{
    display: none;
  }
}
@media(max-width: 1200px) {
  .navInvisible{
    transform: translateX(10px);
  }
}

/* NAV BUTTONS */
.contactBtn{
    width: 150px;
    height: 50px;
    border: none;
    background: none;
    font-size: 1rem;
    font-family: 'Montserrat';
    margin-left: -15px;
    padding-right: 15px;
    cursor: pointer;
    margin-top: -16px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.contactBtn::after, .loginBtn::after{
  content: '';
  position: absolute;
  width: 95px;
  transform: scaleX(0);
  height: 2px;
  bottom: 10px;
  right: 30px;
  background-color:#fff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.contactBtn:hover::after{
    transform: scaleX(1);
}
.loginBtn{
    width: 160px;
    height: 50px;
    margin-left: -20px;
    border: none;
    padding-right: 25px;
    margin-top: -16px;
    position: absolute;
    font-size: 1.1rem;
    background: none;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 50%, 0 0);
   
}
.loginBtn::after{
  left: 15px;
  width: 125px;
  height: 20px;
  clip-path: polygon(90% 90%, 94% 50%, 98% 50%, 93% 100%, 0 100%, 0 90%);
}
.loginBtn:hover::after{
   transform: scaleX(1);
}
.btnLink{
    width: 100px;
}
/* MOBILE NAV */


.MobileNav{
  visibility: hidden;
}
.hamburgerMenu{
  display: none;
}

@media (max-width: 1250px) {
  .MobileNav{
      position: fixed;
      top: 55px;
      left: 100%;
      width: 100%;
      min-height: 100vh;
      visibility: visible;
      display: block;
      background-color: var(--blue-main);
      z-index: 98;  
      padding-top: 120px;
      transition-duration: 0.5s;
  }
  .hamburgerMenu{
    display: block;
  }
  .MobileNav.is-active{
    left: 60%;
    width: 40%;
    visibility: visible;
}
}
@media (max-width: 750px){
  .MobileNav.is-active{
    left: 0%;
    width: 100%;
  }
}