:root {
  
    --gray-button: #979696;
    --dark-gray: rgb(53, 52, 52);
    --gray: #6d6d6d;
    --gray-light-gradient: linear-gradient(135deg, #535353 45%, #bbbbbb 100%);
    --light-gray: rgb(201, 201, 201);
    --ultra-light-gray: rgb(221, 221, 221);
    --light-gray-gradient: linear-gradient(0deg, rgba(201,201,201,1) 0%, rgba(255,255,255,1) 100%);
    --blue-main: #2a4863;
    --blue-main-light: #386c9b;
    --blue-main-transp-light: #2b4e6dd5;
    --blue-main-transp-heavy: #2b4e6db0;
    --green-transp-light: rgba(28, 197, 28, 0.801);
  
    
    
    
    
    --black-gradient: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
  
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  }