.TextArea{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.TextArea h1{
    font-size: 6.2rem;
    font-weight: 1000;
    color: #fff;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   
.TextArea h1::after{
    content: '';
    position: absolute;
    width: 890px;
    left: 0;
    bottom: 0;
    height: 10px;
    background: yellow;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.TextArea p{
    font-size: 1.3rem;
    color: #fff;
    margin-right: 20px;
    text-align: center;
}
/* HEADER TEXT RESPONSIVE */

@media (max-width: 1750px) {
    .TextArea h1{
        font-size: 5rem;
    }
    .TextArea p{
        font-size: 1.15rem;
    }
    .TextArea h1::after{
        width: 700px;
        left: 50px;
    }
    
}
@media (max-width: 1400px) {
    .TextArea h1{
        font-size: 4.5rem;
    }
    .TextArea p{
        font-size: .9rem;
    }
    .TextArea h1::after{
        width: 550px;
        height: 7px;
        left: 50px;
    }
    
}
@media (max-width: 1150px) {
    .TextArea h1{
        font-size: 4rem;
    }
    .TextArea p{
        font-size: .8rem;
    }
    .TextArea h1::after{
        width: 500px;
        left: 30px;
        height: 5px;
    }
    
}

/* HEADER SCROLL */
.HeaderButton_container{
    position: absolute;
    width: 30px;
    height: 60px;
    background: transparent;
    top: 90%;
    left: 49%;
    outline: none;
    cursor: pointer;
    border: none;
}
.scroll_arrow{
    display: block;
    width: 5px;
    height: 5px;
    border-right: 3px solid yellow;
    border-bottom: 3px solid yellow;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}
.one, .two, .three{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
}

.one{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.two{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.three{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}
@-webkit-keyframes mouse-scroll {
    0%   { 
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50%  { 
        opacity: .5;
    }
    100% { 
        opacity: 1;
        transform: translateY(8px) rotate(45deg);
    }
  }
  @-moz-keyframes mouse-scroll {
    0%   { 
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50%  { 
        opacity: .5;
    }
    100% { 
        opacity: 1;
        transform: translateY(8px) rotate(45deg);
    }
  }
  @-o-keyframes mouse-scroll {
    0%   { 
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50%  { 
        opacity: .5;
    }
    100% { 
        opacity: 1;
        transform: translateY(8px) rotate(45deg);
    }
  }
  @keyframes mouse-scroll {
    0%   { 
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50%  { 
        opacity: .5;
    }
    100% { 
        opacity: 1;
        transform: translateY(8px) rotate(45deg);
    }
  }