@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');



@import "./NavBar.css";
@import "./Logo.css";
@import "./MainContainer.css";
@import "./Slider.css";
@import "./ProductInfo.css";
@import "../constants/Colors.css";
@import "./Footer.css";
@import "./MainContainerLogIn.css";
@import "./MainContainerRegister.css";


* {
  scroll-behavior: smooth;
}

body, html{
  margin: 0;
  padding:0;
}
body>div {  
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: rgb(53, 52, 52);
  font-family: 'Montserrat';
}





.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.blue__gradient {
  background: linear-gradient(180deg, #214d76 70%, rgba(0, 0, 0, 0) 0%);
  filter: blur(300px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}




