.navBar{
    height: 0px;
    position: sticky;
    z-index: 99;
}
.navBar ul{
    display: inline-block;
    width: 100%;
    list-style: none;
    justify-content: center;
    margin-top:0px;
    height: 60px;    
    background: var(--gray); 
    clip-path: polygon(0 0, 100% 0%, 98% 100%, 2% 100%);    
}
.navBar ul li{
    display: inline-block;
    position: relative;
}
.navBar ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin: 0 50px;
    font-weight: 700;
    transition: all ease .3s;
    font-size: 1.1rem;
}
.navBar ul li a:hover{
    color: rgb(189, 189, 189);
}

.navBar ul li:after {
    content: '';
    position: absolute;
    width: 50%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    top: 30px;
    left: 40px;
    background-color: var(--blue-main);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navBar ul li:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.subThree::after, .subTwo::after, .subOne::after{
    content: '';
    position: absolute;
    left: 30px;
    top: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--blue-main);
}

@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-8px);
    }
    100%{
        opacity: 1;
        transform:none;
    }
}


.contactBtn{
    width: 200px;
    height: 60px;
    margin-top: 00px;
    border: none;
    background: transparent;
    font-size: 1.1rem;
    font-family: 'Montserrat';
    font-weight: 500;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition-duration: .5s;
    color: #fff;
    font-weight: 700;
    padding-right: 10px;
    margin-left: 20px;
   
}
.contactBtn:hover{
    color: #fff;
    background: var(--blue-main);
}

.loginBtn{
    width: 200px;
    height: 60px;
    margin-top: 0px;
    margin-right: -30px;
    border: none;
    padding-right: 15px;
    font-size: 1.1rem;
    font-family: 'Montserrat';
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    color: #fff;
    transition-duration: .5s;
   
}
.loginBtn:hover{
    background: var(--blue-main);
}
.btnLink{
    width: 100px;
    display:inline-block;
    margin-left: 20px;
}